\begin{tikzpicture}
    \begin{axis}
        % Segments
        {% for segment in segments %}
            {{ segment }}
        {% endfor %}
        % Intersections
        {% for intersection in intersections %}
            \node[cross out, text=blue, fill=blue] at {{ intersection }} {$\times$};
        {% endfor %}
    \end{axis}
\end{tikzpicture}