\begin{tikzpicture}
\begin{axis}[
    title={ {{ title }}},
    xlabel={ {{ xlabel }} },
    ylabel={ {{ ylabel }} }
]
{% for metric in metrics %}
            {{ metric }};
        {% endfor %}
\end{axis}
\end{tikzpicture}

